/*文字の書体*/

html {
    font-family: serif;
}
/*文字の大きさ*/

/*header*/

header {
    background: rgb(172, 172, 228);
    height: 5em;
    padding: 1.5em;
}

h1 {
    text-align: center;
}

/*main*/

main {
    padding: 4em;
}

main h3,main h4 {
    font-size: large;
}
main p, main h4{
    font-family: sans-serif;
}