/*文字の書体*/

html {
    font-family: sans-serif;
}

/*文字の大きさ*/
main h4 {
    font-size: large;
}
/*header*/

header {
    background: silver;
    height: 5em;
    padding: 1.5em;
}

h1 {
    color: darkblue;
    text-align: center;
}

/*main*/


h3 {
    font-size: large;
    background: silver;
    text-align: center;
    color: darkblue;

}
main {
    background: rgb(6, 2, 46);
    color: white;
    padding: 4em;
}

div.bunn{
    margin: 50px;
}