header {
    background: skyblue;

    color: white;
    text-align: center;
    font-size: 25px;

    height: 5em;
    padding: 1.5em;
}
div.hyou {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 50px;
    grid-gap: 10px;

    width: 300px;

}