header {
    background: skyblue;

    color: white;
    text-align: center;
    font-size: 25px;

    height: 5em;
    padding: 1.5em;
}
div.hyou {

    margin: 50px;
    padding: 10px;

    background-color: gray;

    display: grid; /*グリットレイアウト*/
    /*列の比率と*/
    grid-template-columns: repeat(1,1fr);
    /*行の高さ*/
    grid-template-rows: repeat(9,minmax(50px,auto));

    grid-gap: 10px;

}
div.box {
    background: whitesmoke;
}